img {
    width: 40px;
    height: 40px;
}

.elo-container {
    display: flex;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.662);
    padding: 10px;
    border-radius: 20px;
}

.recent-results-container {
    display: flex;
    gap: 10px;
}

.second-info-container {
    display: flex;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.52);
    padding: 10px;
    margin-top: 5px;
    border-radius: 15px;
}
.stats-container {
    background: transparent;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
}
.stat-item {
    margin: 5px 0;
    color: #eeeeee;
}
.elo {
    font-size: 24px;
    color: #ffffff;
}

.last-matches {
    font-size: 24px;
    font-weight: bold;
}

.W {
    color: rgb(124, 206, 41);
    -webkit-text-stroke-color: rgb(3, 65, 0);
    -webkit-text-stroke-width: 1px;
}

.L {
    color: rgb(255, 0, 0);
    -webkit-text-stroke-color: rgb(78, 0, 0);
    -webkit-text-stroke-width: 1px;
}