.elo-container {
    display: flex;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.662);
    padding: 10px;
    border-radius: 20px;
}
.second-info-container {
    display: flex;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.52);
    padding: 10px;
    margin-top: 5px;
    border-radius: 15px;
}
.stats-container {
    background: transparent;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
}
.stat-item {
    margin: 5px 0;
}
.elo {
    font-size: 24px;
    font-weight: lighter;
    color: #ffffff;
}